@font-face {
    font-family: 'Banny';
    src: url(/fonts/Banny-Round.otf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}
.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}
.header {
    position: relative;
    z-index: 9999;
}
.nav-item {
    width: 133px;
    height: 100px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.nav-logo {
    margin-top: 25px;
    margin-left: 35px;
    margin-right: 35px;
}
.section--promo {
    position: relative;
    margin-top: -180px;
    padding-top: 350px;
    padding-bottom: 187px;
    background: url('/img/header-bg.png') no-repeat center / cover;
    color: #ffffff;
    z-index: 999;
}
.section--promo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.block__promo {
    position: relative;
}
.block__text {
    position: relative;
    max-width: 60px;
    width: 100%;
}
.promo__text {
    position: absolute;
    top: 0;
    left: -120px;
    width: 261px;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    transform: rotate(-90deg);
}
.promo__main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section__subtitle {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.promo__title {
    font-size: 96px;
    text-transform: uppercase;
}
.social__buttons {
    display: flex;
    flex-direction: column;
}
.social__link {
    width: 60px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin-bottom: 20px;
}
.face {
    background: url('/img/meta.svg') no-repeat center;
}
.twit {
    background: url('/img/twit.svg') no-repeat center;
}
.inst {
    margin-bottom: 0px;
    background: url('/img/inst.svg') no-repeat center;
}
.button {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    padding-top: 21px;
    padding-bottom: 21px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.buttons {
    margin-top: 58px;
}
.button__promo {
    padding-left: 60px;
    padding-right: 60px;
}
.button--primary {
    background: #E8C300;
}
.buton--secondary {
    margin-left: 38px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}
.link--down {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: -10px;
    left: 50%;
    bottom: -94px;
    background: #ffffff url('/img/arrow-down.svg') no-repeat center;
    border-radius: 50%;
}
.link--down::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    margin-top: -1px;
    margin-left: -1px;
    top: -25%;
    left: -25%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}
.title {
    font-family: "Banny";
    position: relative;
}
.title::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 50%;
    margin-left: -23px;
    width: 60px;
    height: 5px;
    background: #E8C300;
    border-radius: 50px;
}
.section--about_us {
    padding-top: 100px;
    padding-bottom: 100px;
}
.section__text {
    display: flex;
    max-width: 600px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.section__title {
    font-size: 36px;
    text-transform: uppercase;
}
.block__text--subtitle {
    margin-top: 40px;
    font-size: 18px;
    line-height: 28px;
}
.block__text--desc {
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
}
.block__img {
    position: relative;
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: start;
}
.block__img::after {
    content: "";
    border: 20px solid #E8C300;
    margin-top: -125px;
    width: 210px;
    height: 210px;
    position: absolute;
    top: 50%;
    right: 0;
}
.block__chef {
    padding-top: 100px;
    padding-bottom: 100px;
}
.subtitle--secondary {
    position: absolute;
    left: 50%;
    top: 50px;
    letter-spacing: 0.5em;
}
.section--chef {
    position: relative;
    background: url('/img/specialty-bg.png') no-repeat center / cover;
    color: #ffffff;
    z-index: 999;
}
.section--chef::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
.block__img--chef {
    position: relative;
    max-width: 588px;
    width: 100%;
    display: flex;
    justify-content: end;
}
.block__img--chef::after {
    content: "";
    border: 20px solid #E8C300;
    margin-top: -125px;
    width: 210px;
    height: 210px;
    position: absolute;
    top: 50%;
    left: 0;
}
.text__desc {
    color: rgba(255, 255, 255, 0.9);
}
.block__choco {
    padding-top: 100px;
    padding-bottom: 100px;
}
.section--choco {
    position: relative;
    background: url('/img/specialtys-bg.png') no-repeat center / cover;
    color: #ffffff;
    z-index: 999;
}
.section--choco::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
.block__img--choco {
    position: relative;
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: end;
}
.block__img--choco::after {
    content: "";
    border: 20px solid #E8C300;
    margin-top: -125px;
    width: 210px;
    height: 222px;
    position: absolute;
    top: 50%;
    left: 0;
}
.block__book {
    padding-top: 100px;
    padding-bottom: 100px;
}
.block__img--book {
    position: relative;
    max-width: 588px;
    width: 100%;
    display: flex;
    justify-content: start;
}
.block__img--book::after {
    content: "";
    border: 20px solid #E8C300;
    margin-top: -110px;
    width: 186px;
    height: 186px;
    position: absolute;
    top: 50%;
    right: 0;
}
.book-text {
    position: absolute;
    top: 2775px;
    left: 37%;
    color: rgba(51, 51, 51, 0.5);
    font-size: 12px;
}